body {
	font-family: 'Heebo';
	font-size: 22px; 
	
}
a {
	color:grey;
	text-decoration: none;
}
a:hover {
	color:#990000;
}
p {
	margin: 0px;
}
div.heading {
	height:auto;
	width: auto;
	background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white,grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white,grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,white,grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white,grey); /* Standard syntax *//* Standard syntax */
}
.logo {
	height:150px;
	width:auto;
	
}
nav {
	overflow: hidden;
	height:63px;
	background-color: #990000;

}
.navbar a {
	float: left;
	display: block;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	font-size: 17px;
}
.call a {
	float: right;
	padding:0px;
	overflow: auto;
	
}


.navbar ul {
	padding:8px 0 0 0 0;
	list-style:none;

}
.navbar a:hover {
	background-color: #ddd;
	color:#000;
}
.up {
	height:25px;
	width:
}
#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4CAF50;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
	height:50px;
	opacity: 0.9;
}


#top:hover {
  background-color: #555;
	opacity: 1;
}
.call a:hover {
	background-color:#990000;
}
.button1 {
	 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
	border-radius: 12px;
	
}
.button2 {
	 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 2px;
    cursor: pointer;
}
.button3 {
	 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
	border-radius: 12px;
	
}


button:active {
	color:#000;
}

.sidemenu {
	height: 100%;
	width:0;
	position:fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#111;
	opacity:0.9;
	overflow-x: hidden;
	transition:0.5s;
	padding-top: 0px;
}

.sidemenu a {
	padding:10px 10px 10px 30px;
	text-decoration: none;
	font-size: 50px;
	color:#ccc;
	display:inline-block;
	width:100%;
	transition:0.3s;
	margin:0px;
}
.sidemenu a:hover {
	color:#FFF;

}

.sidemenu .btn-close {
	position:relative;
	top:0;
	font-size:50px;
	overflow: auto;
	margin-top:0px;
	width:20%;
	float:right;
}


div.middle {
	height: auto;
	width: auto;
	background-image: url('images/stone 8.jpg');
	background-position: center;
	margin: auto;
}

div.flex-container {
	background-color: none;
	display: flex;
	position: relative;
	align-content: center;
	justify-content: space-around;
	
	
}

.flex-container > div {
  background-color: #f1f1f1;
	opacity:0.9;
  width: 75px;
  height:auto;
	margin-left: 75px;
	margin-right:75px;
	margin-top:10px;
  text-align: center;
  font-size: 25px;
	border: solid 1px #000;
	padding-left: 20px;
	padding-right: 20px;

}
.flex-container > div:hover {
	opacity:1;
}
div.flex-container p {
	padding-bottom:10px;
	opacity:1;
}
div.flex-container2 {
	background-color: none;
	display: flex;
	position: relative;
	align-content: center;
	justify-content: space-around;
		flex-direction: row;

	
}
.flex-container2 > div {
  background-color: #f1f1f1;
  height:350px;
margin-left:90px;
margin-right:90px;
  text-align: center;
  font-size: 25px;
	border: solid 1px #000;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:20px;
	margin-bottom:20px;

}

.box1 {
	flex: 1;
	
}
.box2 {
	flex:1;

}
.box3 {
	flex:1;
}
.box5 {
	flex:3;
}


div.grid {
	display: grid;
	grid-template-columns: repeat(4, 3fr);
	grid-auto-rows: 30px;
	border: #333 1px solid;
	background-color: #c2c2a3;
	text-align: center;
	border: solid #000;
	
}
.gallery {
	height:auto;
	background-color:#f1f1f1;
		overflow:scroll; 
}
.row {
 display: flex;
box-sizing: border-box;
  padding: 0 4px;
	flex-direction: row;
	width:80%;
	text-align: center;
		justify-content: center;
	margin:0 auto;
	
	
}
.row img{
	opacity:0.8;
}
.row img:hover{
	opacity:1;
}
.row img:active {
	opacity:1;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
	height:200px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
	width:100%;


	
}
img.css-clipped {
	width: 800px;
    height: 500px;
    -webkit-clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);
    clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);
	z-index:1;

}

img.css-clipped2 {
	width:800px;
    height: 500px;
    -webkit-clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);
    clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);
	z-index:0;
	opacity:0.8;
	margin:0px auto;
	

}
.truck {
	display:none;
}
img.css-clipped2:hover {
	opacity:0.9;
}
.container2 {
	background-color: white;
	display:flex;
	flex-direction: row-reverse;
background-image: url('images/stone 8.jpg');
	background-position: center;
	margin: auto;

	
}
.about{
flex-direction: row-reverse;
background-image: url('images/stone 8.jpg');
	background-position: center;
	margin: auto;
	display:flex;
	flex-direction: row-reverse;
	
}

#slideshow { 
	margin: 50px auto; 
    position: relative; 
    width: 400px; 
    height: auto; 
    padding: 30px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	z-index:2;
	background-color: #FFF;
	vertical-align: sub;
	border: solid 1px;
	overflow:scroll;

	 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
	padding-top:0px;
	padding-bottom:0px;
}
#slideshow2 { 
	margin-left:20%;
	margin-right:20%;
    position: relative; 
    width: auto; 
    height: 100px; 
    padding: 10px; 
	z-index:2;
	font-size: 27px;
		 
}

#slideshow2 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
.container3 {
	height:500px;
	z-index: 0;
		background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(,white,grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white,grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white,grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white,grey); /* Standard syntax *//* Standard syntax */
	text-align: center;
	padding-bottom:45px;
	border-top: 5px #cc9900 solid; 

	
		
}
.container32 {
	height:auto;
	z-index: 0;
		background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(,white,grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white,grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white,grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white,grey); /* Standard syntax *//* Standard syntax */
	text-align: center;
	padding-bottom:45px;

	
		
}
.container33 {
	height:auto;
	z-index: 0;
		background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(,white,#dddddd,white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white,#dddddd,white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white,#dddddd,white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white,#dddddd,white); /* Standard syntax *//* Standard syntax */
	text-align: center;
	padding-bottom:45px;
	border-top: 5px #cc9900 solid; 
}
.container4{
	display: flex;
}
.contact{
	width: 800px;
	height:auto;
	background-color:#f1f1f1;
	margin:0 auto;
	z-index:1;
	border:solid #000 1px;
	align-content: center;
	text-align: center;
	padding:20px;
	justify-content: space-around;
	postion:auto;

}
.estimate {
	flex:none;
	font-size:35px
}
.box4 {
	flex:1;
}
.box5 { 
	flex:1;
}
.desc {
	margin:0 auto;
	text-align: center;
	postion:auto;
	z-index:1;
flex:1; 
float:center;
}
.container5 {
	z-index: 0;
	height:auto;
		background: grey; /* For browsers that do not support gradients */
	
  background: -webkit-linear-gradient(,white,grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white,grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white,grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white,grey); /* Standard syntax *//* Standard syntax */
	text-align: center;
	border-top: 5px #cc9900 solid; 
}
.missionbox{
		margin: 10px auto; 
    position: relative; 
    width: 700px; 
    height: auto; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	z-index:2;	
	background-color: #F2F2F2;
}
.footer {
	background-color: #990000;
	text-align: center;
	height:185px;
	border-top: 5px #cc9900 solid; 
	border-bottom:5px #cc9900 solid; 
	padding: 0px;
	
	
}
.footer img {
	height:30px;
	width:30px;
	margin-top:10px;
	
}

img.dbo {
	height:70px;
	width:70px; 
}
img.dbo2 {
	height:75px;
	width:70px; 
	
	
}
img.dbo3 {
	height:79px;
	width:70px; 
}
iframe {
	margin:0 auto;
	width:300px;
	height:300px;
}
h2.small {	font-size:22px;
	margin: 0px;
}
h2.silv {
	margin-top:5px;
}
h4 {
	margin:0px;
}
h2.best {
	font-size:45px;
	padding:0px;
	margin:0px;
}
h2.best2 {
	margin-top:50px;
	margin-bottom:50px;
}
small {
	font-size:14px;
	padding:0px;
}
.designer  {
	font-family: 'Montserrat';
	float:left;
	margin:0 auto;
	margin-bottom:5px;
	overflow: auto;
	display: inline;
	font-size:15px;
	z-index: 100;
	
}
.designer a {
	text-decoration: none;
	color:#f2f2f2;
	z-index: 200;
}
.designer a:hover {
	color:grey;
}
@font-face {
    font-family:'pincoyablack' ;
	src: url('fonts/pincoyablack.otf');
}
p{
	font-family: 'Heebo';
	font-size: 22px;
}
.busy {
	margin:0px;
}
h1 {
	font-size: 80px;
	color: #990000;
	text-align: center;
	font-family: 'pincoyablack';
	letter-spacing: 6px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color:#cc9900 ;
	postion: relative;
	vertical-align: bottom;
	margin-top: 0;
	padding:5px;
	


	
}

h2 {
	font-family: 'Montserrat';
	text-align: center;
}

h2.topdiv {
	font-size: 45px;
}
h2.estimate {
	margin:0;
}
h3 {
	font-family: 'Montserrat';
	text-align: center;
	bottom: 80px;
	position: relative;
	right:15px;


}
.mnl {
	font-size:36px;
	left:4px;
	padding-top:3px;
}

#cursive {
	font-family: 'Yellowtail', cursive;
	text-align:center;
	bottom:130px;
	position:relative;
	color: #990000;
	-webkit-text-stroke-width: .50px;
	-webkit-text-stroke-color:#cc9900;
	font-size: 45px;
	right: 18px;
	margin:0 auto;
}
#end {
	height: 70px;
			background: #; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white,green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white,green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,white,green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white,green); /* Standard syntax *//* Standard syntax */
	
}



@media (max-width: 1200px){
	h2.best{
		font-size: 40px;
	}

	.flex-container > div {
		width:100%;
		margin:20px;
	}
	.about{
		flex-direction: column;
	}
	.container32{
		height:225px;
	}
	#slideshow {
		
	}
}

@media (max-width: 1125px){
	
	.container2 {
		
		
	}
	img.css-clipped{
		width:550px;
		float:left;
		
	}
	#slideshow{
		height:200px;
		flex:3;
		top:70px;
		
		
	}
	h2.best {
		margin-top: 70px;
	}

}

@media (max-width: 1000px) {
	.flex-container > div {
		margin:5px;
		}
	.container32 {
		height: 245px;
	}
}
@media (max-width: 920px) {
	div.middle{
		padding-top:20px;
		padding-bottom:20px;

	}
	.flex-container2 > div {
		margin:30px;
}
	#slideshow{
		overflow:auto;
		top:0;
	}
	.container2{
	flex-direction: column;
		
	}
	img.css-clipped{
		width:100%;
		
}
	.container32 {
		height: 270px;
	}
	.contact {
		width:auto;
		margin-left:5%;
		margin-right:5%;
	}
	
}
@media (max-width: 800px) {
	
	div.flex-container{
		flex-direction: column;
				width: 50%;
	

	}
	div.flex-container2 {
		flex-direction:column;
		width:80%;
		margin-left: 10%;
		margin-right:10%;
		
	}
	.flex-container2 > div {
		margin:15px;
	
}
	
	.dbot {
		margin:0
	}
	div.flex-container div {
		padding: 0px auto;
		margin-left: 46%;


	}
	 .clipped img.css-clipped {
		display:none;
	}
		.container32 {
		height: 350px;
	}
	img.css-clipped2 {
	width:90%;
		margin-right: 100px;
		
}
}


@media (max-width: 660px) {
	
	
	h3.mnl {
		padding-top:10px;
		font-size: 30px;
		left:0px
	}
	
	h2#cursive {
		bottom:119px;
	}
	h2.small {
		font-size:20px
	}
	h5.designer  {
		margin-top:18px;
	}
	#slideshow2 { 
	margin-left:10%;
	margin-right:10%;
	
}
}
.flex-container2 {
	flex-direction: column;
}
@media (max-width: 580px) {
	
	h1{
		font-size:70px;
		margin-left:10%
	}
	h3.mnl {
		font-size:20px;
		margin-left:8%;
	}
	
	nav {
		height:60px; 
	}
	.navbar a {
		display:inline-block;
		width:100%;
		 border: 1px solid;
		float:center;
    padding: 10px;
  
		
	}
	h2#cursive {
		margin-left:9%;
		bottom:115px;
	}
button.button1 {
		 margin-left:10%; 
	width:50%;
	margin:0px;
	padding:25px;
	}
	.logo {
		height:115px;
	}
	.sidemenu a {
		margin:0px;
	}
	.sidemenu .btn-close {
		width:20%;
		float:right;
		overflow:auto; 
		position: relative;
		
	}
 .contact{
		margin-left:0%;
	 margin-right:0%;
	 
	}
		.container32 {
		height: 430px;
	}
	#slideshow2 { 
	margin-left:10%;
	margin-right:10%;
	
}
	h2.best {
		margin-top:180px;
	}

}
@media (max-width: 475px)
{
	div.flex-container2 {
		width:100%;
		margin: 0 auto;
	}
	#cursive {
		font-size: 35px;
		margin-top:25px
	}
	h3.mnl {
		font-size:17px;
		margin-right:23px;
					padding-top:15px;

	}	
		}
@media (max-width: 475px) {
	.container32 {
		height: 500px;	
	}
	.container4 {
		flex-direction: column;
	}
	img.css-clipped2 {
	display:none;

}
	.middle {
		margin:0px;
	}
	img.truck {
		display:block;
		width:100%;
	}
	#slideshow {
		width:80%;
	}
	.middle {
		width:100%;
	}
	.flex-container {
		width:100%;
	}
div.flex-container div {

	width:170%;
	overflow: auto;
	text-align: center;
	margin:auto;
	margin-left:5%;
	margin-right:5%;


	}
}
@media (max-width: 390px) {
	
	div.flex-container div {

	
	overflow: auto;
	text-align: center;
	margin: 0 auto;
	margin-left:13%;
	margin-right:5%;
		width:150%;

	}
	.box5 {
		display:none;
	}
	h3.mnl {
		font-size:13px;
	}
	.footer{
		height:250px;;
	}
	.container32{
		height:600px;
		
	}
	.button3 {
		padding:10px;
	}
	.mail {
	font-size: 17px;
	margin-bottom: 10px;
	}
	h2.small  {
		
	}
	h5.designer {
		margin-top:60px;
	}
}

@media (max-width: 350px) {

	div.flex-container div {

	width:170%;
	overflow: auto;
	text-align: center;
	margin:auto;
	
	}
	
.button3 {
		padding:10px;
	}
	.mail {
	font-size: 17px;
	margin-bottom: 10px;
	}
	h5.designer {
		margin-top:38px;
	}
}
