._s2h{text-align:right}
.sp_V53xxlprDHX_1_5x{background-image:url(/rsrc.php/v3/y-/r/2ba8IOLH-RH.png);background-size:20px 40px;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}.sp_V53xxlprDHX_1_5x.sx_42e4ef{background-position:0 0}.sp_V53xxlprDHX_1_5x.sx_c7a8a1{background-position:0 -20px}

#bootloader_Wod83{height:42px;}.bootloader_Wod83{display:block!important;}